$width: 400px;
$height: 400px;

.wrapper {
width: $width;
}

.single {
clear: both;
float: left;
width: $width;
height: $height;
margin: 0;
padding: 0;
border: 10px;
background-color: black;
border-color: green;
}

.half_left {
clear: both;
float: left;
width: $width / 2;
height: $height / 2;
margin: 0;
padding: 0;
border: 0;
background-color: blue;
}

.half_right {
float: right;
width: $width / 2;
height: $height / 2;
margin: 0;
padding: 0;
border: 0;
background-color: red;

}