.line {
    background-color: black;
    height: 5px;
  }

.top {
      float: left;
      padding: 3px;
      font-family: $font-display;
      font-size: $font-size-regular;
      margin-left: -66px;
    }

.role {
      display: none;
    }

body {

  background-color: none;
  font-size: $font-size-regular;
  line-height: 1.7rem;
  font-weight: $font-weight-regular;
  font-family: $font-text;
    #myCanvas {
      float: left;
      color: blue;
    }

  p {
    color: $base-font-color;

  }


  b { font-weight: $font-weight-bold;}

  .space {
    height: 0px;
  }

  .lorem {
    background-color: none;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px; 
  }
  .typi {
    background-color: none;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px; 
  }
}

@include at-breakpoint($computer){
  body {
    .name { display: inline};
    .role { display: inline};
    .icon {
      float: right;
    }
    .lorem {
      @include span-columns(4,8);
    }
    .typi {
      @include span-columns(4 omega,8);
    }
  }
}

a {
  text-decoration: none;
  color: $base-font-color;
  &:hover {
    color: lighten($base-font-color, 40%);
  }
}

.abovefooterlines {
  clear: both;
  border-top-width: 3px;
  height: 10px;
  border-bottom-width: 1px;
  border-color: black;
}

footer {
  @include span-columns(8, 8);
  background-color: $ghostwhite;
  border-style: solid;
  border-color: lighten(black, 33%);
  border-top-width: 1px;
  border-bottom-width: 2px;
  clear: both;
}