body {
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  font-family: $font-family-text;
    .top {
      float:left;
      padding: 3px;
      font-family: $font-family-code;
      font-size: $font-size-small;
    }
    .role {
      display: none;
    }
    .lightened {
          color: lighten(black, 80%);
          font-weight: $font-weight-light;
        }
    .name {
    display: none;
  }
  p {
    color: $base-font-color;
  }

  background-color: $ghostwhite;
  font-size: 1.2rem;
  line-height: 160%;
  a { text-decoration: none; }
  .lorem {
    background-color: $lightblue;
  }
  .typi {
    background-color: darken($lightblue, 10%);
  }
}

@include at-breakpoint($tablet){
  body {
    .name { display: inline};
    .role { display: inline};
    .icon {
      float:left;
    }
    .lorem {
      @include span-columns(4,8);
    }
    .typi {
      @include span-columns(4 omega,8);
    }
  }
}

@include at-breakpoint($computer){
  body {
    .name { display: inline};
    .role { display: inline};
    .lorem {
      @include span-columns(5,10);
    }
    .typi {
      @include span-columns(5 omega,10);
    }
  }
}

#{headings()} {
  
  font-weight: normal;
 
  @include text-shadow(blue 1px 1px);
}

h1 {
  font-family: $font-family-display;
  font-size: 2.2rem;
  color: lighten($linen, 25);
  margin-bottom: .4rem;
  background-color: $snow;

}

a {
  color: $base-font-color;
  &:hover {
    color: lighten($base-font-color, 40%);
  }
}

footer {
  clear: both;
}
