$linen : #FAF0E6;
$snow : #FFFAFA;
$ghostwhite : #F8F8FF;
$lightblue: #CCFFFF;

$font-primary: Avenir, sans-serif;
$font-secondary: Baskerville, serif;

$base-font-color: lighten(black, 20%);

$font-size-small: 0.8rem;
$font-size-regular: 1rem;
$font-size-large: 1.2rem;

$font-weight-light:	200;
$font-weight-regular:	300;
$font-weight-bold:	500;

// Source-Sans is an Adobe project aiming for clarity in small screens
// Helvetica Neue was chosen in iOS 7 for clarity in the iOS 7 devices
$font-text:	source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-display:	chaparral-pro, Georgia, 'Times New Roman', Times, serif;
$font-code:	source-code-pro, Monaco, Menlo, Consolas, 'Courier New', monospace;