$linen : #FAF0E6;
$snow : #FFFAFA;
$ghostwhite : #F8F8FF;
$lightblue: #CCFFFF;

$font-primary: Avenir, sans-serif;
$font-secondary: Baskerville, serif;

$base-font-color: lighten(black, 20%);

$font-size-regular: 1em;

$font-weight-light:	200;
$font-weight-regular:	300;
$font-weight-bold:	500;

$font-family-text:	source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-display:	chaparral-pro, Georgia, 'Times New Roman', Times, serif;
$font-family-code:	source-code-pro, Monaco, Menlo, Consolas, 'Courier New', monospace;