//Susy setup -------------------------------------
$total-colums : 12;
$column-width : 4em;
$gutter-width : 1em;
$grid-padding : $gutter-width;

@include border-box-sizing;

$small : 30em;
$medium : 47em;
$large : 75em;

//Content -----------------------------------------

.layout {
	@include container;
	padding: 3%;

	.primary {
		margin-top: .2em;
		@include at-breakpoint($small) {
			@include span-columns(8,12);
			#test {
				@include border-radius(20px);
				color: paleyellow;
				margin-bottom: 10px;
				margin-top: 10px;
				background: green;
				h1 {
					color: darken(cyan, 15%);
					border: none;
					text-shadow: none;
					margin-bottom: 20px;
				}
				a {
					color: darkblue;
				}
			}
		}
	}
}